/* Extends */
/* Variables */
/* Extend */
.nav-sticky .navegacion, main footer .navegacion {
  background-color: #141212;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem; }

.nav-sticky .logo a img, main footer .logo {
  max-width: 5.5rem;
  max-height: 6rem; }
  @media (min-width: 768px) {
    .nav-sticky .logo a img, main footer .logo {
      max-width: 10rem;
      max-height: 10rem; } }

main .marte-fondo .boton-section, main .tierra-fondo .boton-section {
  padding: 2rem 0 0 3.6rem; }

main .marte-fondo .boton-section .boton, main .tierra-fondo .boton-section .boton {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #ffff;
  padding: 1.4rem;
  border: #141212 1px solid;
  background-color: #141212;
  margin: 7rem 6rem;
  transition: 3.5s; }

main .tierra-fondo .opinion-personas .personas {
  font-family: "Inconsolata", monospace;
  color: #ffff;
  font-size: 1.3rem;
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem 4rem;
  border: #ffff 1px solid;
  display: flex;
  flex-direction: column; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Uso de Rems */ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

/* Utilidad */
.texto {
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  font-size: 1.4rem; }

/* Estilos al header */
.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  @media (min-width: 768px) {
    .nav-sticky .navegacion {
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem;
      max-height: 5rem; } }
  .nav-sticky .logo {
    flex: 1 1 0; }
  .nav-sticky .menu {
    margin-bottom: 0;
    padding: 0; }
  .nav-sticky .menu li a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.6rem; }
    @media (min-width: 768px) {
      .nav-sticky .menu li a {
        font-size: 1.5rem;
        margin: 0.4rem;
        font-weight: bold;
        margin-left: 0.4rem; } }
  .nav-sticky .menu li a:hover {
    color: #716b6b; }
  .nav-sticky .menu li a {
    transition: color 0.3s linear 0.2s; }
  .nav-sticky .menu li a:last-of-type {
    margin-right: 0.8rem; }
  .nav-sticky .menu li {
    display: inline; }

/* Estilos al main */
main {
  background-image: url(../img/FondoEscritorio.png);
  /* Estilos al footer */ }
  main .titulo {
    margin: 0 auto;
    padding: 4rem 4rem 4rem 4rem;
    font-family: "Inconsolata", monospace;
    font-size: 3rem;
    text-align: center;
    color: #ffff; }
    @media (min-width: 768px) {
      main .titulo {
        padding: 4rem 1rem 4rem 4rem; } }
  main .marte-fondo {
    background-image: url(../img/imagen-section2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 38vh; }
    @media (min-width: 768px) {
      main .marte-fondo {
        height: 40rem;
        max-width: 1200px; } }
    main .marte-fondo p {
      font-family: "Open Sans", sans-serif;
      color: #ffff;
      font-size: 2rem;
      line-height: 1.4;
      text-align: center;
      padding: 2rem 6rem 0 5rem;
      margin: 0; }
      @media (min-width: 768px) {
        main .marte-fondo p {
          font-size: 2.3rem;
          text-align: left;
          padding: 10rem 10rem 0 5.5rem;
          line-height: 1.8; } }
    @media (min-width: 768px) {
      main .marte-fondo .boton-section .boton {
        font-size: 2rem;
        margin: 2rem;
        text-decoration: none; }
        main .marte-fondo .boton-section .boton:hover {
          border-radius: 80%;
          font-size: 2rem; } }
    main .marte-fondo .boton-section a:hover {
      color: #ffff; }
  main .tierra-fondo {
    background-image: url(../img/Tarjeta_Inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh; }
    @media (min-width: 768px) {
      main .tierra-fondo {
        height: 30rem;
        max-width: 1200px;
        margin: 0 auto; } }
    main .tierra-fondo p {
      font-family: "Open Sans", sans-serif;
      color: #ffff;
      font-size: 2rem;
      text-align: center;
      padding: 2rem 5rem 0 5.5rem;
      margin: 0;
      line-height: 1.8; }
      @media (min-width: 768px) {
        main .tierra-fondo p {
          font-size: 2.3rem;
          text-align: left;
          padding: 7rem 15rem 0 5.5rem; } }
    @media (min-width: 768px) {
      main .tierra-fondo .boton-section .boton {
        font-size: 2rem;
        margin: 2rem;
        text-decoration: none; }
        main .tierra-fondo .boton-section .boton:hover {
          border-radius: 80%;
          font-size: 2rem; } }
    main .tierra-fondo .opinion-personas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      @media (min-width: 768px) {
        main .tierra-fondo .opinion-personas {
          overflow: hidden;
          max-width: 120rem;
          max-height: 50rem;
          flex-direction: row;
          margin: 0 auto;
          padding: 2rem; } }
      @media (min-width: 768px) {
        main .tierra-fondo .opinion-personas .personas {
          font-size: 1.5rem;
          margin: 2rem 4rem 2rem 2rem; } }
      main .tierra-fondo .opinion-personas .personas .logo-personas {
        max-width: 2.5rem;
        max-height: 2.5rem; }
        @media (min-width: 768px) {
          main .tierra-fondo .opinion-personas .personas .logo-personas {
            max-width: 3rem;
            max-height: 3rem; } }
  main footer .navegacion-footer {
    display: flex;
    justify-content: space-between;
    background-color: #141212;
    padding: 1rem; }
    @media (min-width: 768px) {
      main footer .navegacion-footer {
        display: flex; } }
  main footer .img-footer img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem; }
  main footer .img-footer img:last-of-type {
    margin-right: 2rem; }
  main footer .menu-footer {
    font-family: "Open Sans", sans-serif;
    display: none; }
    main footer .menu-footer a {
      text-decoration: none;
      color: #ffff;
      font-weight: bold;
      font-size: 1rem;
      margin: 0.3rem;
      margin-left: 0.4rem;
      transition: color 0.2s linear 0.1s; }
    main footer .menu-footer a:last-of-type {
      margin-right: 0; }
    main footer .menu-footer a:hover {
      color: #716b6b; }
    @media (min-width: 768px) {
      main footer .menu-footer {
        display: flex; }
        main footer .menu-footer a {
          font-size: 1.5rem;
          margin: 1.2rem;
          margin-left: 0; }
        main footer .menu-footer img {
          max-width: 3rem;
          max-height: 3rem;
          margin: 0.5rem; } }
  main footer .derechos-reservados {
    background-image: url(../img/FondoEscritorio.png);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #ffff;
    padding: 1rem; }
    @media (min-width: 768px) {
      main footer .derechos-reservados {
        font-size: 1.5rem; } }
