/* Extends */
@import "base/variables";
@import "base/extend";

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Uso de Rems */
  }
  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}


/* Utilidad */
.texto {
    font-family: $fuente-principal;
    color: $color-white;
    font-size: 1.4rem;
}
/* Estilos al header */
.nav-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
        .navegacion {
            @extend %navegacion;
            @media (min-width: 768px) {
                justify-content: space-between;
                align-items: center;
                padding: 1.2rem;
                max-height: 5rem;
            }
        }
        .logo {
            flex: 1 1 0;
            a img {
                @extend %logo;
            }
        }
        @extend %menu;
}

/* Estilos al main */
main {
    background-image: url(../img/FondoEscritorio.png);
    .titulo {
    margin: $centrar-div;
    padding: 4rem 4rem 4rem 4rem;
    font-family: $fuente-secundaria;
    font-size: 3rem;
    text-align: center;
    color: $color-white;
    @media (min-width: 768px) {
            padding: 4rem 1rem 4rem 4rem;
        }
    }
    .marte-fondo {
        background-image: url(../img/imagen-section2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        height: 38vh;
        @media (min-width: 768px) {
                height: 40rem;
                max-width: 1200px;
            }
        p {
        font-family: $fuente-principal;
        color: $color-white;
        font-size: $medida-promedio;
        line-height: 1.4;
        text-align: center;
        padding: 2rem 6rem 0 5rem; 
        margin: 0;
        @media (min-width: 768px) {
            font-size: 2.3rem;
            text-align: left;
            padding: 10rem 10rem 0 5.5rem; 
            line-height: 1.8;
        }
        }
        .boton-section {
            @extend %boton-section;
            .boton {
                @extend %boton;
                @media (min-width: 768px) {
                    font-size: $medida-promedio;
                    margin: $medida-promedio;
                    text-decoration: none;
                    &:hover {
                        border-radius: 80%;
                        font-size: $medida-promedio;
                    }
                }
            }
            a:hover {
                color: $color-white;
            }
        }
    }

    .tierra-fondo {
        background-image: url(../img/Tarjeta_Inicio.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30vh;
        @media (min-width: 768px) {
            height: 30rem;
            max-width: 1200px;
            margin: $centrar-div;
        }
        p {
            font-family: $fuente-principal;
            color: $color-white;
            font-size: $medida-promedio;
            text-align: center;
            padding: 2rem 5rem 0 5.5rem; 
            margin: 0;
            line-height: 1.8;
            @media (min-width: 768px) {
                font-size: 2.3rem;
                text-align: left;
                padding: 7rem 15rem 0 5.5rem;
            }
        }
        .boton-section {
            @extend %boton-section;
            .boton {
                @extend %boton;
                @media (min-width: 768px) {
                        font-size: $medida-promedio;
                        margin: $medida-promedio;
                        text-decoration: none;
                    &:hover {
                        border-radius: 80%;
                        font-size: $medida-promedio;
                    }
                }
            }
        }
    }
    .opinion-personas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        @media (min-width: 768px) {
            overflow: hidden;
            max-width: 125rem;
            max-height: 50rem;
            flex-direction: row;
            margin: $centrar-div;
            padding: $medida-promedio;
        }
        .personas {
            @extend %personas;
            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin: 2rem 4rem 2rem 2rem;
            }
            .logo-personas {
                max-width: 2.5rem;
                max-height: 2.5rem;
                @media (min-width: 768px) {
                    max-width: 3rem;
                    max-height: 3rem;
                }
            }
        }
    }
}

/* Estilos al footer */
footer {
    .navegacion-footer {
        display: flex;
        justify-content: space-between;
        background-color: $bg-color;
        padding: 1rem;
        @media(min-width: 768px) {
        background-color: #141212;
        padding: $medida-promedio;
        }
    }
    .navegacion {
        @extend %navegacion;
    }
    .logo {
        flex: 1 1 0;
        a img {
            @extend %logo;
        }
    }
    .img-footer {
        .imagenes-footer:hover {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.927);
        }
    }
    .img-footer img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.5rem;
    }
    .img-footer img:last-of-type {
        margin-right: $medida-promedio;
    }
    .menu-footer {
        font-family: $fuente-principal;
        display: none;
        a {
            text-decoration: none;
            color: $color-white;
            font-weight: bold;
            font-size: 1rem;
            margin: 0.3rem;
            margin-left: 0.4rem;
            transition: color 0.2s linear 0.1s;
        }
        a:last-of-type {
            margin-right: 0;
        }
        a:hover {
            color: $hover-color;
        }
        @media (min-width:768px) {
            display: flex;
            flex: 1 1 0;
            justify-content: flex-end;
            a {
                font-size: 1.5rem;
                margin: 1.2rem;
                margin-left: 0;
            }
            img {
                max-width: 3rem;
                max-height: 3rem;
                margin: 0.5rem;
            }
        }
    }
    .derechos-reservados {
        background-image: url(../img/FondoEscritorio.png);
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: $fuente-principal;
        color: $color-white;
        padding: 1rem;
        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

/* Estilos a Descubre*/
main {
    .grid-descubre {
        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-auto-flow: column;
        }
        .cards-descubre {
            text-align: center;
            padding: 2rem;
            @media(min-width: 768px) {
                text-align: left;
                padding: 2rem;
                border: 1px solid $color-white;
                margin: $medida-promedio;
            }
            .imagenes-descubre {
                height: 20rem;
                width: 20rem;
                @media(min-width: 768px) {
                    width: 22rem;
                    height: 22rem;
                }
            }            
        }
        .barra-descubre {
            border-top: 1px solid $color-white;
            height: 2px;
            max-width: 300px;
            padding: 0;
            margin: 20px auto 0 auto;
            @media(min-width: 768px) {
                display: none;
            }   
        }
    }
}