/* Mixin */
@mixin border {
    border: 1px solid $color-white;
}

@mixin formulario-texto {
    font-size: 2rem;
    font-family: $fuente-principal;
    color: $color-white;
}

@mixin navegacion {
    background-color: $bg-color; 
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 1rem;
}