/* Variables */
$color-white: #ffff;
$bg-color: #141212;
$hover-color: rgb(113,107,107);
$medida-promedio: 2rem;
$centrar-div: 0 auto;
$fuente-principal: "Open Sans", sans-serif;
$fuente-secundaria: 'Inconsolata', monospace;